anyio==3.6.1
asgiref==3.4.1
asn1crypto==1.5.1
click==8.0.4
contextlib2==21.6.0
contextvars==2.4
dataclasses==0.8
fastapi==0.78.0
greenlet==1.1.2
h11==0.13.0
idna==3.3
immutables==0.18
importlib-metadata==4.8.3
pg8000==1.26.0
pydantic==1.9.1
scramp==1.4.1
sniffio==1.2.0
SQLAlchemy==1.4.39
starlette==0.19.1
typing_extensions==4.1.1
uvicorn==0.16.0
zipp==3.6.0
